
	    <h1>0 Death, Fight Pandorite, Peach Chart</h1>
		<h2>Version 1.07 by Claude, last updated March 6th, 2016</h2>
		<br>
		<p><a ng-click="openLink('http://pastebin.com/gYnJrmkh')">1.07 CHANGE LOG</a></p>
		<br>
		<div class="text-center"><h3><b>***** THERE IS A WIKI NOW - CLICK BELOW *****</b></h3>
		<h3><a ng-click="openLink('https://sites.google.com/site/supermariorpgspeedruns/')">https://sites.google.com/site/supermariorpgspeedruns/</a></h3>
		<h3><b>***** THERE IS A WIKI NOW - CLICK ABOVE *****</b></h3></div>
		<br>
		<p>SAVESTATE PACK <a ng-click="openLink('https://drive.google.com/file/d/0B3yPRhL2ylswQnJ1RzRnQzVGNTA/view?pref=2&pli=1')">HERE</a></p>
		<br>
		<p>Table of Contents:</p>
		<p>    I:   Intro</p>
		<p>    II:  Main Route</p>
		<p>    III: Miscellaneous Info</p>
		<p>    IV:  Trade Consistency for Speed</p>
		<p>    V:   Backup Strategies</p>
		<p>    VI:  To Do</p>
		<p>   </p>
		<p>===== SECTION I: INTRO =====</p>
		<br>
		<img src="img/yhZWsey.jpg" style="width: 100%;" />
		<br>
		<p>This route has overtaken the old 1 Death + Mallow route, and will likely be the mainstay for SMRPG Any% in one form or another. It involves getting the Experience Booster as soon as possible, skipping the death abuse, and using ability swap to put Shocker & Geno Blast onto Peach (obsoleting Mallow entirely past Punchinello).</p>
		<br>
		<p>If followed correctly, this EXP route will get you Level 11 Peach by Yaridovich (allowing for a much stronger Shocker during that fight), and Level 15 Mario by Czar Dragon (making the fight much safer).</p>
		<br>
		<p><b>Note 1:</b> This route plans for consistency over speed. To complete the game with minimal time loss using this route, you only need 1 Fire Bomb freebie OR 1 Ice Bomb freebie. If you would like to plan around getting better luck, there are a list of options you can explore at the end of this document.</p>
		<br>
		<p><b>Note 2:</b> This route now contains backup strategies for some of the difficult things you will encounter in your SMRPG Any% journey. If you're a beginner, please consult the appendix at the end of this document beforehand, so you'll prepared if something bad happens to you.</p>
		<br>
		<p><b>Note 3:</b> This pastebin is extremely detailed. It is recommended you copy it to your own notes, and then delete things as you become more familiar with it.</p>
		<br>
		<p><b>Note 4:</b> This route assumes you are playing on the Japanese version. However, almost everything will work on the English version as well.</p>
		<br>
		<p>Credits to 0xwas, Alanim, Albrecht, iateyourpie, lackattack, millnium, and everyone else in #mariorpg for helping me refine the route to its current point. Special shoutouts to cyghfer for distributing his Excel spreadsheets that I modified to construct the EXP / Coin charts for this route.</p>
		<br>
		<p><a ng-click="openLink('http://pastebin.com/n4SkJFGW')">Old route (Skip Pandorite)</a></p>
		<br>
		<p><a ng-click="openLink('http://pastebin.com/TvpKgU6h')">Old route (Fight Pandorite)</a></p>
		<br>
		<p><a ng-click="openLink('https://drive.google.com/file/d/0B3yPRhL2ylswUU9nZW1ta1RRRTA/view?usp=sharing')">Excel Spreadhsheet showing a general timing comparison between this route and the old route</a></p>
		<br>
		<p><a ng-click="openLink('https://drive.google.com/file/d/0B3yPRhL2ylswam9BNC1OQ29Pc2M/view?usp=sharing')">Excel Spreadsheet showing the Coin Chart / EXP Chart for this route, as well as some notes from cyghfer</a> (last 3 tabs are the most important)</p>
		<br>
		<p><b>Final Note:</b> The Super Jump numbers in this document do NOT count the initial jump (as it has different base damage than the others). This is different from other versions of this route, so keep this in mind.</p>
		<br>
		<div class="text-center"><h3><b>*** HERE IS A LINK TO THE WIKI AGAIN (Work in Progress) ***</b></h3>
		<h3><a ng-click="openLink('https://sites.google.com/site/supermariorpgspeedruns/')">https://sites.google.com/site/supermariorpgspeedruns/</a></h3>
		<h3><b>It covers everything in here (and much, much more)</b></h3></div>
		<p></p>
		<br>
		<p><a ng-click="openLink('https://drive.google.com/file/d/0B3yPRhL2ylswQnJ1RzRnQzVGNTA/view?pref=2&pli=1')">*** SAVESTATE PACK HERE ***</a></p>
		<br>
		<p>So you can practice movement, menus, timings, etc. (just not Super Jumps)</p>