<ion-view title="SMRPG">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header credits" style="text-align: center;">
    <p>This is a practice tool for<br>memorization puzzles and other easily<br>forgettable but time-saving things.</p>
    <p>There is also a list of all the Kanji in the game<br>in case you were curious. Just because.</p>
    <p><br><b>Stuff I couldn't fit into the app</b></p>
    <p><a ng-click="openLink('https://sites.google.com/site/supermariorpgspeedruns/')">SMRPG Speedrun Wiki</a></p>
    <p><a ng-click="openLink('http://www.polywhack.com/timings/')">Polywhack - Timed Hits frame data</a></p>
    
    <p><br><b>Credits</b></p>
    <p>Quiz questions courtesy of bjw<br>and the LLTVG wiki<br>Adapted from Caerulius' <a ng-click="openLink('http://www.polywhack.com/questions/')">quiz tool</a></p>
    <p>Quiz images provided by Caerulius</p>
    <p>U quiz questions courtesy of TheRewster</p>
    <p>Marathon info courtesy of bjw</p>
    <p>Item translations courtesy of<br>The Mushroom Kingdom</p>
    <p>Sprites ripped by Tonberry2k</p>
    <p>Item type sprites ripped by Jackster</p>
    <p>Font by Genogenesis7</p>
    <p>Dr. Topper quiz translated (poorly)<br>by pidgezero_one</p>
    
    <p><br>This app was programmed by pidgezero_one.<br>I didn't spend a ton of time on it<br>so there's probably bugs.
    <br>If you have a long commute,<br>especially if you have no internet reception,<br>this might be handy if you are new or rusty!</p>
  </ion-content>
</ion-view>