<ion-view title="Item Name Practice">
  <ion-content class="has-header">
  <div style="padding: 15px; text-align: center;">
  <input type="checkbox" ng-model="quiz.hints" id="cb113"/><label for="cb113" style="margin-left: 15px;">Show pronounciation</label><br><br>
  </div>
  
  <div>
  
  <div class="quiz-question">
  <span class="item-icon-description">What is</span><img class="item-icon item-icon-description" ng-src="img/icons/{{ quiz.selectedQuestion.type }}.png"/><span class="item-icon-description" ng-bind-html="quiz.selectedQuestion.question"></span><span class="item-icon-description">?</span>
  </div>
  <div class="quiz-question-translations" ng-show="quiz.hints">
	  <div ng-bind-html="quiz.selectedQuestion.hint" class="romaji"></div>
  </div>
  
  <div class="answer" ng-repeat="answer in quiz.selectedQuestion.answers" ng-click="isCorrect(answer)">
	  <div ng-bind-html="answer" class="english" style="padding-top: 15px;"></div>
  </div>
  
  </div>
  </ion-content>
</ion-view>